@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <p>Este é um aplicativo de postagens baseado no artigo de <a href="https://learn.microsoft.com/pt-br/ef/core/modeling/relationships">Relacionamentos</a>.</p>
    <p>Contexto: Este é um trabalho realizado para a atividade de POO.</p>
</div>
