@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>- Este app ainda não possui um cadastro de usuarios. Então não divulgamos informações pessoais.</p>
<p>- Divirta-se!</p>
